name: CI

# When to run this workflow
on:
  push:
    branches: [main, dev, "v[0-9]+.[0-9]+.x"]
  pull_request:
    branches: [main, dev]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      # 1. Get the code
      - uses: actions/checkout@v4

      # 2. Set up Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      # 3. Install dependencies
      - run: npm ci

      # 4. Run linter
      - run: npm run lint
